html {
    margin: 0 auto;
    max-width: 900px;
    background: grey;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4286;
    color: #333;
    background: white;
} 
